/* ContactMe.css */
.section-contact {
    background-color: #f2ece3;
    padding: 3rem 1.5rem;
}

.contact-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #e5d9c9;
    border: 2px solid #4e3d26;
    border-radius: 1rem;
}

.contact-title {
    color: #4e3d26;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1rem;
    margin: 0;
}

.contact-description {
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
}

.contact-form {
    padding: 5px;
    border-radius: 1rem;

}

.flex-gap {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-group {
    position: relative;
    flex: 1;
}

.input-field,
.textarea-field {
    padding: 0.5rem;
    border: none;
    width: 100%;
    font-weight: bold;
    color: #4e3d26;
    outline: none;
    margin-top: 10px;
    padding: 12px 0px 12px 10px;
}

.submit-button {
    width: 100%;
    background-color: #4e3d26;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button:hover {
    background-color: #f2ece3;
    color: #4e3d26;
}

.submit-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .flex-gap {
        flex-direction: row;
    }

    .input-group {
        flex: 1;
    }

    .contact-container {
        width: 40%;
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .contact-title {
        font-size: 1.5rem;
    }

    .contact-description {
        font-size: 0.875rem;
    }
}