

.image-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.project-card img {
    border-radius: 8px;
    object-fit: cover;
}

.card-container{
    width: 270px !important;
    height: 300px !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    box-shadow: 2px 4px 8px #e5d9c9;
    
}
.card-heading{
    margin: 5px 5px !important;
    font-size: 18px;
}

@media (max-width: 380px) {
    .card-container{
        width: 280px;
    }

}
