.project-card {
    border: 1px solid; 
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-heading {
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-large {
    width: 130px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
    border: 2px solid;
}

.image-small {
    width: 90px;
    height: 160px;
    border-radius: 5px;
    object-fit: cover;
    border: 2px solid;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container{
    width: 270px !important;
    height: 300px !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    box-shadow: 2px 4px 8px #e5d9c9;
    
}
