.projects-main {
    background-color: #f2ece3;
    padding: 2.5rem 0;
}

.projects-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1.25rem;
}

.projects-description {
    padding-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 0.875rem;
}

.pro-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.sectionHeading{
    font-size: 16px;
  }
  .projectDescription{
    font-size: 12px;
    color: #4e3d26;
  }

@media (min-width: 768px) {
    .pro-grid {
        flex-direction: row;
    }
    .sectionHeading{
        font-size: 22px;
      }
      .projectDescription{
        font-size: 16px;
      }
      .pro-grid{
        padding: 30px;
      }
}

.ice-heading {
    color: #d6206b;
    border-color: #d6206b;
}

.ice-card-bg {
    background-color: #fdc8df;
}



.grocery-heading {
    color: #1e5e3f;
    border-color: #1e5e3f;
}

.grocery-card-bg {
    background-color: #c5ead8;
}

.agency-heading {
    color: #5b1a91;
    border-color: #5b1a91;
}

.agency-card-bg {
    background-color: #dcc1f8;
}
