/* Container for the card */
.card-container {
    border: 1px solid;
    border-radius: 8px;

    max-width: 320px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: box-shadow 0.3s ease;
}

/* Hover effect for the card */
.card-container:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Title of the project */
.card-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

/* Image container for the project */
.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

/* Top images in the card */
.top-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* Project image styling */
.project-imag {
    border: 2px solid;
    border-radius: 8px;
    width: 160px;
    height: 80px;
    object-fit: contain;
  
}

/* Bottom image margin */
.project-image-bottom {
    margin-top: 0.5rem;
    height: 230px;
}

/* Button container */
.button-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
