
.project-button {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.project-button:hover {
    background-color: #e5d9c9;
    color: black
}
