.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume_btn {
    position: relative;
    background-color: #44311f; 
    color: white; 
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
    transition: background-color 0.3s;
}

.resume_btn:hover {
    background-color: #e5d9c9; 
    color: #44311f;
    border: 2px solid #44311f;
    font-weight: 600;
}

